<!-- ============================================================== -->
<!-- Info Boxes -->
<!-- ============================================================== -->
<app-crypto></app-crypto>
<!-- ============================================================== -->
<!-- Sales Summery -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12">
        <app-chart></app-chart>
    </div>
</div>
<!-- ============================================================== -->
<!-- place order / Exchange -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <app-order></app-order>
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <app-currency></app-currency>
    </div>
    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Tables -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12">
        <app-market></app-market>
    </div>
</div>
<!-- ============================================================== -->
<!-- Trade history / Exchange -->
<!-- ============================================================== -->
<app-trade></app-trade>